<h1>Hello World</h1>
<h2>TESTING GIT CONNECTION</h2>

<%= fakeData.city %>
<br />
<%= fakeData.provider_name %>
<br />
<%= fakeData.provider_address %>
<br />
<%= fakeData.phone %>
<br />

<h5>Material Handled: <%= fakeData.material_handled%></h5>